.reveal img.image_full {
  width: 65%; }
.reveal img.image_full2 {
  width: 50%; }
.reveal img[alt="alonzo.png"] {
  margin-bottom: -2.5em; }
.reveal p {
  text-align: justify; }
.reveal #sec-title-slide .author {
  font-size: 130%; }
.reveal #sec-title-slide .date {
  font-size: 100%; }
.reveal #sec-title-slide p.date {
  text-align: center;
  font-size: 80%; }
.reveal * {
  font-family: "Source Sans Pro", sans-serif !important; }
.reveal code {
  padding: 0em 0.1em;
  font-family: "Source Code Pro", monospace !important;
  font-size: 0.9em; }
.reveal .org-src-container pre, .reveal .org-src-container code {
  box-shadow: none;
  font-size: 1.75rem;
  font-family: "Source Code Pro", monospace !important; }
.reveal .org-src-container pre {
  width: 100%; }

.hljs {
  background: #111111 !important; }

/*# sourceMappingURL=stylesheet.css.map */
